@using PagedList.Mvc;
@using IdentityAutoPart.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@model PagedList.IPagedList<AutoPartsWebSite.Models.Order>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "OrdersAdmin", FormMethod.Get))
{
    <p>
        Номер заказа : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Поиск" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Id)*@
            @Html.ActionLink("Номер", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Пользователь
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Data)*@
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>            
            Сумма
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State)*@
            @Html.ActionLink("Статус", "Index", new { sortOrder = ViewBag.StateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @{
                string userFN = "";
                ApplicationUserManager userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                var user = userManager.FindById(item.UserId);
                if (user != null)
                {
                    userFN = user.FullName;
                }
            }            
            @userFN
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @item.getOrderStates().First(itm => itm.Value == item.State.ToString()).Text
            @*@Html.DisplayFor(modelItem => item.State)*@                
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детально", "Details", new { id=item.Id })
             @*|
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
<br />
@if (Model.PageCount > 1) {
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}