@model IEnumerable<AutoPartsWebSite.Models.OrderItem>

@{
    ViewBag.Title = "Позиции заказа № " + Model.FirstOrDefault().OrderId;
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>                       
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2)
        </th>
        <th>      </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>        
        <td>
            @item.getOrderItemStates().First(itm => itm.Value == item.State.ToString()).Text
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference1)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Reference2)
        </td> 
        <td>
            @Html.ActionLink("Изменить", "EditOrderItems", new { id=item.Id }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<br>
<div id="cntr">
    @Html.ActionLink("Назад в заказы клиентов", "Index")
</div>
