@model AutoPartsWebSite.Models.Payment

@{
    ViewBag.Title = "НОВЫЙ ПЛАТЕЖ";
}
	<DIV class="main-text">

	<h1>@ViewBag.Title</h1>

	<div class="reg-form">
	<br>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Data } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
      
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder="СУММА" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ДОБАВИТЬ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>
</div>

<div id="cntr">
    @Html.ActionLink("Назад к списку платежей", "IndexUser", new { id = ViewBag.UserId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
