@model AutoPartsWebSite.Models.Payment

@{
    ViewBag.Title = "ИЗМЕНИТЬ ПЛАТЕЖ";
}
<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="СОХРАНИТЬ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div><br>
<div id="cntr">
    @Html.ActionLink("Вернуться к списку платежей", "IndexUser", new { id = Model.UserId })
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
