@model AutoPartsWebSite.Models.PartAlias

@{
    ViewBag.Title = "УДАЛЕНИЕ УТОЧНЕНИЯ ПО ПОЗИЦИИ";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

<h3>Внимание!</h3>
<p>Номер: <span id="red">@Html.DisplayFor(model => model.Number)</span></p>
<p>Описание: @Html.DisplayFor(model => model.Name)</p>
<p>Объем: @Html.DisplayFor(model => model.Size)</p>
<p>Вес: @Html.DisplayFor(model => model.Weight)</p>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
            
        </div>
    }
</div>
</div>
<div id="cntr">
@Html.ActionLink("Назад в уточнение позиций", "Index")
</div><br>
