@model PagedList.IPagedList<AutoPartsWebSite.Models.PartAlias>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "УТОЧНЕНИЯ ОПИСАНИЙ ПО ПОЗИЦИЯМ";
}
<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>

<div class="reg-form">
<br>

<p>
    @Html.ActionLink("Добавить описание", "Create")
</p>

@using (Html.BeginForm("Index", "PartAlias", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "КОД ЗАПЧАСТИ" })
        <input type="submit" value="НАЙТИ" />
    </p>
}

</DIV>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Номер", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Описание", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Объем
        </th>
        <th>
            Вес
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</DIV>