@model AutoPartsWebSite.Models.Order

@{
    ViewBag.Title = "ЗАКАЗ № " + @Html.DisplayFor(model => model.Id) + " от (" + @Html.DisplayFor(model => model.Data) + ")";
}
<DIV class="main-text">
<h1>@ViewBag.Title</h1>
<h3 id="cntr">Сумма заказа: <span id="red">$@Html.DisplayFor(model => model.Summary)</span></h3>
</DIV>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().PartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Number)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Weight)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Quantity)
        </th>*@        
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Reference1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Reference2)
        </th>
    </tr>

    @foreach (var item in Model.OrderItems)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>            
            <td TITLE="@Html.DisplayFor(modelItem => item.Name)">
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>*@            
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @item.getOrderItemStates().First(itm => itm.Value == item.State.ToString()).Text
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference2)
            </td>
        </tr>
    }

</table>
<br>
<div id="cntr">    
    @Html.ActionLink("Назад к списку Заказов", "Index")
</div>
