@model AutoPartsWebSite.Models.Supplier

@{
    ViewBag.Title = "Удалить";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

<h3>Внимание!</h3>
<p>Код поставщика: <span id="red">@Html.DisplayFor(model => model.Code)</span></p>
<p>Название поставщика: @Html.DisplayFor(model => model.Name)</p>
<p>Базовая наценка (%): @Html.DisplayFor(model => model.Rate)</p>
<p>Срок доставки (дней): @Html.DisplayFor(model => model.DeliveryTime)</p>
<p>Шаблон импорта: @Html.DisplayFor(model => model.ImportTemplate)</p>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
        </div>
    }
</div>
</div>
<div id="cntr">
@Html.ActionLink("Назад в постащики", "Index")
</div>