@model IdentityAutoPart.Models.ApplicationUser

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы точно уверены, что хотите удалить этого пользователя?</h3>
<div>
    @*<h4>User.</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchLimit)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку пользователей", "Index")
        </div>
    }
</div>
