@model IdentityAutoPart.Models.ApplicationUser

@{
    ViewBag.Title = "ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ";
}

	<DIV class="main-text">

	<h1 id="cntr">@ViewBag.Title</h1>
	<div class="reg-form">
	<br>

<h3>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
<p>E-MAIL: @Html.DisplayFor(model => model.UserName)</p>
<p>ТЕЛ: @Html.DisplayFor(model => model.Phone)</p>
<p>ЛИМИТ: $@Html.DisplayFor(model => model.MoneyLimit)</p>
<p>ПОИСК ПОЗИЦИЙ: @Html.DisplayFor(model => model.SearchLimit)</p>
<br>
<strong>РОЛИ:</strong>

@if (ViewBag.RoleNames.Count == 0)
{
    <p>У этого пользователя нет ролей.</p>
}
<ul id="lft mw100">
@foreach (var item in ViewBag.RoleNames)
{
<li id="mw100">
@item
</li>
}
</ul>
<br>
<div class="alink2" id="cntr">
    @Html.ActionLink("ИЗМЕНИТЬ", "Edit", new { id = Model.Id })
</div>
<br>
</div>
<br>
<div id="cntr">
    @Html.ActionLink("Назад", "Index")
</div>



