@model IdentityAutoPart.Models.EditUserViewModel

@{
    ViewBag.Title = "Редактирование данных пользователя";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
	<br>
	<div class="reg-form">
	<br>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="E-Mail" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder="ИМЯ" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder="ФАМИЛИЯ" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder="НОМЕР ТЕЛЕФОНА" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MoneyLimit, new { @class = "form-control", type = "number", min = "0", placeholder="ЛИМИТ" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SearchLimit, new { @class = "form-control", type = "number", min = "1", placeholder="ПОИСК ПОЗИЦИЙ" })
        </div>
    </div>
		<br>
        <div class="form-group">
            @Html.Label("Выбрать роль пользователя:", new { @class = "control-label col-md-2" })
            <ul id="lft">
                @foreach (var item in Model.RolesList)
                {
                    <li id="ol50"><input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
					</li>
                }
            </ul>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="СОХРАНИТЬ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div><br>
<div id="cntr">
    @Html.ActionLink("Назад", "Index")
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}