@model IEnumerable<IdentityAutoPart.Models.ApplicationUser>
@using IdentityAutoPart.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "РЕЕСТР ПОЛЬЗОВАТЕЛЕЙ";
}
	<DIV class="main-text">

	<h1 id="cntr">@ViewBag.Title</h1>
	<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("E-Mail")
        </th>
        <th>
            @Html.DisplayName("Имя Фамилия")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchLimit)
        </th>
        <th>
            @Html.DisplayName("Роли")
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchLimit)
            </td>
            <td>              

                @if (item.Roles.Count > 0)
                {                    
                    @item.Roles.Count                        
                }                
            </td>
            <td id="cntr">                
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотр", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                @using (Html.BeginForm("IndexUser", "Payments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.Id)
                    @*@Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
                    <input type="submit" value="Платежи" class="btn btn-default but1" />
                }
                @using (Html.BeginForm("IndexUser", "Rates", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.Id)
                    @*@Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
                    <input type="submit" value="Наценки" class="btn btn-default but2" />
                }
            </td>
        </tr>
    }

</table>
</div>
<div id="cntr">@Html.ActionLink("Добавить пользователя", "Create", htmlAttributes: new { @class = "alink1" }, routeValues: null )
<br>
</div><br>
