@model AutoPartsWebSite.Models.ImportTemplate

@{
    ViewBag.Title = "УДАЛИТЬ ШАБЛОН ИМПОРТА";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<h3>Внимание!</h3>
<p>Название шаблона: <span id="red">@Html.DisplayFor(model => model.Name)</span></p>
<p>Дата создания: @Html.DisplayFor(model => model.Date)</p>
<p>Кем создан: @Html.DisplayFor(model => model.UserName)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
        </div>
    }
</div>
</div>
<div id="cntr">
@Html.ActionLink("Назад в шаблоны импорта", "Index")
</div>
