@model AutoPartsWebSite.Models.ImportTemplate

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<div>
    <h4>Шаблон импорта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceColumn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку шаблонов", "Index")
</p>
