@model AutoPartsWebSite.Models.ImportTemplate

@{
    ViewBag.Title = "ПРОСМОТР ШАБЛОНА ИМПОРТА";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>


<p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>
<p>@Html.DisplayNameFor(model => model.UserName): @Html.DisplayFor(model => model.UserName)</p>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.StartRow): @Html.DisplayFor(model => model.StartRow)</p>
<p>@Html.DisplayNameFor(model => model.BrandColumn): @Html.DisplayFor(model => model.BrandColumn)</p>
<p>@Html.DisplayNameFor(model => model.NumberColumn): @Html.DisplayFor(model => model.NumberColumn)</p>
<p>@Html.DisplayNameFor(model => model.NameColumn): @Html.DisplayFor(model => model.NameColumn)</p>
<p>@Html.DisplayNameFor(model => model.DetailsColumn): @Html.DisplayFor(model => model.DetailsColumn)</p>
<p>@Html.DisplayNameFor(model => model.SizeColumn): @Html.DisplayFor(model => model.SizeColumn)</p>
<p>@Html.DisplayNameFor(model => model.WeightColumn): @Html.DisplayFor(model => model.WeightColumn)</p>
<p>@Html.DisplayNameFor(model => model.QuantityColumn): @Html.DisplayFor(model => model.QuantityColumn)</p>
<p>@Html.DisplayNameFor(model => model.PriceColumn): @Html.DisplayFor(model => model.PriceColumn)</p>

<div class="alink2">@Html.ActionLink("ИЗМЕНИТЬ", "Edit", new { id = Model.Id })</div>

</div>
</div>

<div id="cntr">@Html.ActionLink("Назад в шаблоны импорта", "Index")</div></br>
