
@model AutoPartsWebSite.Controllers.CartSummaryResult

<div class="help-block">
    @Html.ActionLink("Корзина", "Index", "Carts")<br>
    
    @*Деталей - @Model.Sum(x => x.Amount)
        ,*@
    @*@Model.Sum(x => x.Total) USD*@
    @Model.Cart/@Model.Balans
    @*@Model.Cart/@Model.Balans (L= @Model.Limit P= @Model.Payments O= @Model.Orders)*@
    
</div>