@model IEnumerable<AutoPartsWebSite.Models.Cart>

@{
    ViewBag.Title = "КОРЗИНА";
}

	<DIV class="main-text">
	<h1 id="cntr">@ViewBag.Title</h1>
	</DIV>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Reference1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.ActionLink(item.Number, "Edit", new { id = item.Id })
        </td>
        <td TITLE="@Html.DisplayFor(modelItem => item.Name)">
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>            
            @Math.Round(Convert.ToDecimal(item.Price), 2).ToString()            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>        
        <td>
            @Html.ActionLink(item.Amount.ToString(), "Edit", new { id = item.Id })                    
        </td>
        <td>
            @Html.ActionLink(!string.IsNullOrEmpty(item.Reference1) ? item.Reference1.ToString() : " " , "Edit", new { id = item.Id })                        
        </td>
        <td>
            @Html.ActionLink(!string.IsNullOrEmpty(item.Reference2) ? item.Reference2.ToString() : " ", "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Carts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()   
                @Html.Hidden("id", item.Id)                
                <input type="submit" value="X" class="btn btn-link del" />                         
            }

        </td>
    </tr>
}
    <tfoot align="left" style="background: #fc0">
        <tr>
            <td colspan="11"></td>          
            <td>
                @*Всего деталей: @ViewBag.CartCount*@              
                Всего деталей: @Model.Sum(x => x.Amount)
            </td>
            <td>
                @*Общая сумма:  @ViewBag.CartTotal*@
                Общая сумма:<br><span id="red">
                @{  decimal cartSum = Convert.ToDecimal(Model.Sum(x => x.Total));} 
                @cartSum.ToString("N")
                USD</span>
            </td>
            <td></td>   
        </tr>
    </tfoot>
</table>

@if (((AutoPartsWebSite.Controllers.CartsController)this.ViewContext.Controller).PositiveUserCartBalans() && (Model.Count() > 0))
{
<div id="cntr">
@Html.ActionLink("ЗАКАЗАТЬ", "AddNewOrder", routeValues: null, htmlAttributes: new { @class = "btn btn-success alink1" })
</div>
}
