@model IEnumerable<AutoPartsWebSite.Models.Cart>

@{
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
    @*@Html.ActionLink("Загрузить корзинку из Excel", "ExcelLoad") |
    
    @Html.ActionLink("Выгрузить корзинку в Excel", "ExcelSave")*@
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Data)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>

            @Html.ActionLink(item.Number, "Edit", new { id = item.Id })
            @*@Html.DisplayFor(modelItem => item.Number)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Price)*@
            @Math.Round(Convert.ToDecimal(item.Price), 2).ToString()            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink(item.Amount.ToString(), "Edit", new { id = item.Id })
            @*@Html.DisplayFor(modelItem => item.Amount)*@            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>*@
        <td>
            @*@Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @*@Html.ActionLink("Удалить", "Delete", new { id=item.Id })*@

            @using (Html.BeginForm("Delete", "Carts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()   
                @Html.Hidden("id", item.Id)                
                <input type="submit" value="Удалить" class="btn btn-link" />                         
            }

        </td>
    </tr>
}
    <tfoot align="left" style="background: #fc0">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
            <td>
                @*Всего деталей: @ViewBag.CartCount*@              
                Всего деталей: @Model.Sum(x => x.Amount)
            </td>
            <td>
                @*Общая сумма:  @ViewBag.CartTotal*@
                Общая сумма: 
                @{  decimal cartSum = Convert.ToDecimal(Model.Sum(x => x.Total));} 
                @cartSum.ToString("N")
                USD
            </td>
            <td>
                @if (((AutoPartsWebSite.Controllers.CartsController)this.ViewContext.Controller).PositiveUserCartBalans() && (Model.Count() > 0))
                {
                    @Html.ActionLink("Заказать", "AddNewOrder", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
                }
                

            </td>   
        </tr>
    </tfoot>

</table>
