@model AutoPartsWebSite.Models.Rate

@{
    ViewBag.Title = "НОВАЯ НАЦЕНКА";
    Model.Suppliers = ViewBag.SuppliersList;
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SupplierId, Model.Suppliers, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.SupplierId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", placeholder="ПРОЦЕНТ" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ДОБАВИТЬ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div><br>
<div id="cntr">
    @Html.ActionLink("Назад к списку наценок", "IndexUser", new { id = ViewBag.UserId })
</div>
</div>