@model IEnumerable<AutoPartsWebSite.Models.Part>


@{
    ViewBag.Title = "Поиск запчастей";
    int maxSearchItemCount = 1;
    int maxSearchRowsCount = 1;
    string searchMsgText = "Для поиска более 1-й позиции требуется авторизация";
}

@if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
{
    maxSearchItemCount = ViewBag.SearchLimit;
    maxSearchRowsCount = 10; //toDo: good to change it to maxSearchItemCount and add scroling
    searchMsgText = "Результат для поиска " + @ViewBag.SearchLimit + " позиций из " + @ViewBag.ItemsToSearch;
}
	<DIV class="main-text">

	<h2 id="cntr">ПОИСК ПО НОМЕРУ ЗАПЧАСТИ</h2>

	<div class="reg-form">
	<br>

        @using (Html.BeginForm("SearchParts", "Parts", FormMethod.Post))
        {

            @Html.TextArea("autopartNumbers", new { rows = maxSearchRowsCount, columns = 60 })
            @*@Html.Hidden("maxItemCount", maxSearchItemCount)*@            
            <input type="submit" value="НАЙТИ" />

        }       

        @if (ViewBag.SearchLimit < ViewBag.ItemsToSearch)
        {
            <div>
                @searchMsgText
            </div>
        }


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

</div></div>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ImportId)
            </th>*@
        <th>
            @Html.DisplayName("Марка")
        </th>
        <th>
            @Html.DisplayName("Номер")
        </th>        
        <th>
            @Html.DisplayName("Описание")
        </th>
        <th>
            @Html.DisplayName("Объем")
        </th>
        <th>
            @Html.DisplayName("Вес")
        </th>
        <th>
            @Html.DisplayName("Срок поставки")
        </th>
        <th>
            @Html.DisplayName("Цена")
        </th>
        <th>
            @Html.DisplayName("Поставщик")
        </th>
        <th>
            @Html.DisplayName("Наличие")
        </th>
        @if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
        {
            <th>
                @Html.DisplayName("Количество")
            </th>
        }
    </tr>

@using (Html.BeginForm("AddToCartMulti", "Carts"))
{

    foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImportId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>            
            <td  TITLE="@Html.DisplayFor(modelItem => item.Name)">
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Math.Round(Convert.ToDecimal(item.Price), 2).ToString()                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
            {
                <td>             
                    @Html.TextBox("Amount" + item.Id, "0", new { PartId = item.Id, type = "number", min = "0", max = item.Quantity })                
                </td>
            }
            
        </tr>
    }

if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
    {
    <tr class="trCart"><td id="white" colspan="10">
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" id="cntr" class="btn btn-success but" value="ДОБАВИТЬ В КОРЗИНУ" />
    </td></tr>
    }
}
</table>

<div id="cntr"><br>
    @Html.ActionLink("Экспорт результатов в Excel", "Excel")
</div>
<br>