@model IEnumerable<AutoPartsWebSite.Models.Part>

@{
    ViewBag.Title = "Мульти-поиск запчастей";
}

<div class="jumbotron">
    <h2>Мульти-поиск запчастей</h2>

    <p>
        @using (Html.BeginForm("SearchParts", "Parts", FormMethod.Post))
        {
        <p>
            @Html.TextArea("autopartNumbers", new { rows = 10, columns = 60 })
            <input type="submit" value="Поиск" />
        </p>
        }
        <p>
            @Html.ActionLink("Экспорт результатов в Excel", "Excel")
        </p>
        </p>
    </div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ImportId)
            </th>*@
        <th>
            @Html.DisplayName("Марка")
        </th>
        <th>
            @Html.DisplayName("Номер")
        </th>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Описание")
        </th>
        <th>
            @Html.DisplayName("Объем")
        </th>
        <th>
            @Html.DisplayName("Вес")
        </th>
        <th>
            @Html.DisplayName("Наличие")
        </th>
        <th>
            @Html.DisplayName("Цена")
        </th>
        <th>
            @Html.DisplayName("Поставщик")
        </th>
        <th>
            @Html.DisplayName("Срок поставки")
        </th>
        <th>
            @Html.DisplayName("Количество")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ImportId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @*<input type="number" name="quantity" min="1" max="5">*@                
                @Html.TextBoxFor(modelItem => item.Number, "0", new { id = item.Id,  type= "number", min="0",max = item.Quantity })
                @*ToDo: Set and read values and id via script
                http://www.dotnet-tricks.com/Tutorial/mvc/K18L190813-How-to-get-textboxes-values-in-MVC4-created-by-jQuery.html*@
                
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
        </tr>
    }

</table>
