<!DOCTYPE html>
<html>
<head>
    <title>Автомобильные запчасти ALFA-PARTS</title>
    <meta charset="utf-8" />
    <META http-equiv="content-language" content="ru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title - ALFA PARTS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ALFA PARTS", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Поиск", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>                                       
                    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                Админ
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- links -->
                                <li>@Html.ActionLink("Роли", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Пользователи", "Index", "UsersAdmin")</li>                                
                                <li>@Html.ActionLink("Заказы клиентов", "Index", "OrdersAdmin")</li>
                                <li>@Html.ActionLink("Поставщики", "Index", "Suppliers")</li>
                                <li>@Html.ActionLink("Импорт", "Index", "Imports")</li>
                                <li>@Html.ActionLink("Шаблоны импорта", "Index", "ImportTemplates")</li>
                                <li>@Html.ActionLink("Уточнение описания детали", "Index", "PartAlias")</li>
                                <li>@Html.ActionLink("Таблица замен", "Index", "PartReplacements")</li>                                
                            </ul>
                        </li>
                    }
                </ul> 
                
                
                @Html.Partial("_LoginPartial")

                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
                    {
                        <li>@Html.ActionLink("Мои заказы", "Index", "Orders")</li>
                        <li>@Html.Action("CartSummary", "Carts")</li>
                        
                    }                    
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ALFA PARTS TRADING FZE.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
