@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

<div class="avtorz"><span class="orders">@Html.ActionLink("Мои заказы", "Index", "Orders")</span><span class="logout"><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></span></div><div class="lang"><span class="cart">@Html.Action("CartSummary", "Carts")</span></div>
        
    }
}
else {
<div class="avtorz"><span class="reg">@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span><span class="login">@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span></div><div class="lang"><a id="L10"><span>ENG</span></a><a class="active" id="L60"><span>РУС</span></a></div>
}
