@model AutoPartsWebSite.Models.Invoice

@{
    ViewBag.Title = "НОВЫЙ ПРИЕМ";
}


<DIV class="main-text">
    <h1 id="cntr">@ViewBag.Title</h1>
    <div class="reg-form">
        <br>
        @using (Html.BeginForm("Create", "Invoices", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @Value = System.DateTime.Now.ToString("yyyy-MM-dd") } })                       
                    </div >
                </div >*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    Выбор поставщика:
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SupplierId, (IEnumerable<SelectListItem>)ViewBag.SuppliersList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    Имя файла:
                    <div class="col-md-10">
                        <input type = "file" name="upload" id="upload_hidden" onchange="document.getElementById('upload_visible').value = this.value;" accept=".xlsx" />
                        <input type = "text" readonly="1" id="upload_visible" onclick="document.getElementById('upload_hidden').click();" />
                        @* <button onclick="document.getElementById('upload_hidden').click();">Обзор</button> *@   
                        
                        @*<input type="file" id="FileName" name="upload" accept=".xlsx" />*@                          
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ЗАГРУЗИТЬ" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</DIV>
<div id="cntr">
        @Html.ActionLink("Назад в прием товара", "Index")
</div>