@model AutoPartsWebSite.Models.PartReplacement

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<div>
    <h4>Таблица замен</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Replacement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
