@model PagedList.IPagedList < AutoPartsWebSite.Models.PartReplacement >
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ТАБЛИЦА ЗАМЕН";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>

<div class="reg-form">
<br>

<p>
    @Html.ActionLink("Новая замена", "Create") |
    @Html.ActionLink("Импорт (Excel)", "ExcelImport") |
    @Html.ActionLink("Экспорт (Excel)", "ExcelExport")
</p>

@using (Html.BeginForm("Index", "PartReplacements", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "КОД ЗАПЧАСТИ" })
        <input type="submit" value="НАЙТИ" />
    </p>
}
</DIV>
<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("Номер", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            
            @Html.ActionLink("Замена", "Index", new { sortOrder = ViewBag.ReplacementSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Replacement)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
@*
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
*@
</DIV>