@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Пользователи имеющие роль";
}

	<DIV class="main-text">

	<h1 id="cntr">@ViewBag.Title @Html.DisplayFor(model => model.Name)</h1>

	<div class="reg-form">
	<br>

@if (ViewBag.UserCount == 0)
{
    <p id="cntr">No users found in this role.</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>

</div><br>
<div id="cntr" class="alink2">
    @Html.ActionLink("Редактировать роль", "Edit", new { id = Model.Id })
</div>
<br>
<div id="cntr">
    @Html.ActionLink("Назад", "Index")
</div>	
</div>



