@model IdentityAutoPart.Models.LoginViewModel

@{
    ViewBag.Title = "АВТОРИЗАЦИЯ ПОЛЬЗОВАТЕЛЯ";
}
	<DIV class="main-text">

	<h2 id="cntr">@ViewBag.Title</h2>

	<div class="reg-form">
	<br>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()

@Html.ValidationSummary("", new { @class = "text-danger" })
	
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="E-MAIL" })
			
	@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="ПАРОЛЬ" })
				
	<div class="checkbox">
    @Html.CheckBoxFor(m => m.RememberMe)
    @Html.LabelFor(m => m.RememberMe)
    </div>
	<input type="submit" value="ВОЙТИ" class="btn btn-default" />
				
    <p>
    @Html.ActionLink("Зарегистрировать нового пользователя?", "Register")
    </p>
    <p>
    @Html.ActionLink("Забыли пароль?", "ForgotPassword")
    </p><br>
}

</DIV>
</DIV>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}