@model IdentityAutoPart.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "СМЕНА ПАРОЛЯ";
}

<DIV class="main-text">

<h2 id="cntr">@ViewBag.Title</h2>

	<div class="reg-form">
	<br>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

	
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
	
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="ВВЕДИТЕ E-MAIL" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="ВВЕДИТЕ ПАРОЛЬ" })
	@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder="ПОВТОРИТЕ ПАРОЛЬ" })
	<br><br>
	<input type="submit" class="btn btn-default" value="СМЕНИТЬ ПАРОЛЬ" />
	
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</DIV>
</DIV>