@model AutoPartsWebSite.Models.Import

@{
    ViewBag.Title = "УДАЛЕНИЕ ДАННЫХ";
}


<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

<h3>Внимание!</h3>
<p>Операция импорта № @Html.DisplayFor(model => model.Id) от @Html.DisplayFor(model => model.Date)</p>
<p>Пользователь: @Html.DisplayFor(model => model.UserName)</p>
<p>Поставщик: @Html.DisplayFor(model => model.Supplier)</p>
<p>Количество позиций: @Html.DisplayFor(model => model.LinesNumber)</p>
<p>Файл: <span id="red">@Html.DisplayFor(model => model.FileName)</span></p>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
        </div>
    }
</div>
</div>
<div id="cntr">
@Html.ActionLink("Назад в импорт прайсов", "Index")
</div><br>